
atm_machine/ghost/master/yaya_variable.cfg
atm_machine/ghost/master/profile/
atm_machine/shell/master/profile/
atm_machine/shell/joypixels/profile/shell.dat
atm_machine/shell/joypixels/profile/shell.dat.bak
